@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
html {
  scroll-behavior: smooth;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Heading {
  color: transparent;
  text-align: left;
  position: absolute;
  top: 9px;
  left: 0;
  margin: 2rem;
  font-family: "poppins";
  font-weight: 300;
  font-size: 50px;
  cursor: pointer;
  justify-content: center;
  background: linear-gradient(to right, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  /* background:red; */
  width: 30%;
}

.Heading span {
  font-family: "Clicker Script";
  font-size: 60px;
  font-weight: 900;
  color: transparent;
}
.Heading em {
  color: transparent;
}
.Heading b {
  color: #ffa500;
}
/* .Heading::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 70px;
  left: -20px;
  top: -20px;
  border-top: 5px solid rgb(31, 202, 221);
  border-left: 5px solid #ffa500;
  border-radius: 7px;
}
.Heading::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  right: -2vh;
  bottom: -15px;
  border-bottom: 5px solid rgb(31, 202, 221);
  border-right: 5px solid #ffa500;
  border-radius: 7px;
} */

.my-name {
  top: 100px;
  left: 90px;
  position: absolute;
  font-size: 55px;
  font-family: "poppins";
  font-weight: 200;
  text-decoration: none;
}
.my-name em {
  font-family: "Clicker Script";
  font-size: 60px;
  font-weight: 900;
}
.my-name b {
  font-weight: 300;
  color: #ffa500;
}
.typing-effect {
  position: absolute;
  top: 200px;
  left: 90px;
  font-size: 38px;
  font-family: "poppins";
}
.typing {
  color: transparent;
  background: linear-gradient(to right, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.about-me-p {
  position: absolute;
  top: 300px;
  left: 90px;
  width: 52%;
  text-align: left;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 100;
  height: 200px;
}

.cv-me-btn {
  position: absolute;
  left: 90px;
  top: 550px;
  border: 1px solid rgb(31, 202, 221);
  border-radius: 7px;
  padding-left: 20px;
}
.hire-me-btn {
  position: absolute;
  left: 270px;
  top: 550px;
}

.button {
  width: 150px;
  height: 50px;
  background: transparent;
  border: 1px solid;
  border-image: linear-gradient(to right, rgb(31, 202, 221), #ffa500);
  border-image-slice: 2;
  /* border-radius: 10px; */
}

.button:hover {
  color: #ffa500;
  background: transparent;
  border: 2px solid #ffa500;
}
.giphy-image {
  position: absolute;
  right: 150px;
  top: 270px;
  height: 300px;
  width: 400px;
  max-width: 50%;
  border-radius: 10px;
}
/* =============Navbar sylings=========== */
.navbar {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  width: 80%;
  font-size: 28px;
  text-align: right;
  justify-content: flex-end;
  background: transparent;
}
.navbar-li {
  list-style: none;
  text-decoration: none;
  margin: 5px;
  display: flex;
}
.navbar-li a {
  color: #ffa500;
  text-decoration: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 3px;
}
.navbar-li a:hover {
  transition: 0.4s ease all;
  border-bottom: 2px solid #ffb84d;
  border-radius: 12px;
  color: #ffb84d;
}
/* ============About section=========== */
.animate__animated {
  position: absolute;
  top: 100px;
  left: 90px;
  font-size: 40px;
  color: transparent;
  width: 55%;
  display: flex;
  background: linear-gradient(to top, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-decoration: none;
}
/* My image */
.my-image {
  position: absolute;
  top: 150px;
  max-width: 35%;
  right: 100px;
  background: white;
  height: 500px;
  width: 370px;
  border-radius: 10px;
}
.personal-information-div {
  position: absolute;
  left: 90px;
  top: 440px;
  border-radius: 6px;
  width: 40%;
}
.personal-information-div p {
  margin-left: 10px;
  display: block;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: transparent;
  background: linear-gradient(to top, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.personal-information-div span {
  color: white;
}
.about-me-p-about {
  position: absolute;
  top: 230px;
  left: 90px;
  width: 54%;
  text-align: left;
  font-size: 26px;
  font-weight: 200;
  font-family: "poppins";
  letter-spacing: 2px;
}
.abilities {
  position: absolute;
  top: 680px;
  left: 90px;
  /* background: red; */
  width: 93%;
  text-align: left;
  height: 70vh;
}
.abilities h4 {
  color: transparent;
  background: linear-gradient(to right, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 26px;
  margin-bottom: 30px;
  border-bottom: 1px solid dimgrey;
}
.frontend-tech {
  position: absolute;
  width: 30%;
  height: 400px;
  margin: 10px;
  background: #242423;
  box-shadow: 0 8px 32px 0 rgba(207, 123, 39, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.frontend-tech-h5 {
  font-size: 25px;
  font-family: "Poppins";
  letter-spacing: 2px;
  border-right: 5px solid dimgray;
  margin: 5px;
}
.frontend-tech p {
  font-size: 22px;
  margin-left: 10px;
}
.frontend-icons {
  margin-right: 15px;
  font-size: 36px;
}
.backend-tech {
  position: absolute;
  width: 30%;
  right: 300px;
  margin: 10px;
  height: 400px;
  background: #242423;
  box-shadow: 0 8px 32px 0 rgba(207, 123, 39, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.backend-tech-h5 {
  font-size: 25px;
  font-family: "Poppins";
  letter-spacing: 2px;
  border-right: 5px solid dimgray;
  margin: 5px;
}
.backend-tech p {
  font-size: 22px;
  margin-left: 10px;
}
.backend-icons {
  margin-right: 15px;
  font-size: 36px;
}

/* certificates  */
.certificates-heading {
  position: absolute;
  top: 1200px;
  left: 90px;
  font-size: 34px;
  color: transparent;
  background: linear-gradient(to right, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.certification-image-1 {
  display: inline-block;
  width: 100%; /* adjust the width and height as needed */
  height: 300px;
  background-image: url("./htmlIntro.png");
  background-size: contain;
  margin: 19px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 10px;
}
.certification-image-2 {
  display: inline-block;
  width: 100%; /* adjust the width and height as needed */
  height: 300px;
  background-image: url("./React+Redux.png");
  background-size: contain;
  margin: 19px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 10px;
}
.certification-image-3 {
  display: inline-block;
  width: 100%; /* adjust the width and height as needed */
  height: 300px;
  background-image: url("./Javascript.png");
  background-size: contain;
  margin: 19px;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 10px;
}
.certification-sector {
  position: absolute;
  top: 1300px;
  left: 90px;
  border: 1px solid dimgray;
  border-radius: 7px;
  width: 93%;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding-bottom: 20px;
}
/* Social Media */
.social-media-icons {
  position: absolute;
  left: 90px;
  bottom: -1400px;
  height: 100px;
  background: red;
  margin-top: 20px;
}
.social-media-icons a {
  font-size: 42px;
  margin: 10px;
  color: #ffa500;
  background: transparent;
  display: inline-block;
  background-color: transparent;
  padding-bottom: 10px;
}
.social-media-icons a:hover {
  cursor: pointer;
  color: #ff4500;
  background: transparent;
}
/* ============= Media Querries ======== */
@media (max-width: 1199px) {
  .Heading {
    font-size: 40px;
    left: 0;
  }

  .my-name {
    font-size: 40px;
    position: absolute;
    left: 30px;
  }

  .typing-effect {
    font-size: 28px;
    position: absolute;
    left: 30px;
  }

  .about-me-p,
  .about-me-p-about {
    font-size: 24px;
    position: absolute;
    left: 30px;
  }

  .giphy-image {
    height: 350px;
    width: 300px;
    position: absolute;
    right: 5px;
    top: 290px;
  }

  .navbar {
    font-size: 20px;
    margin-top: 27px;
    right: 7px;
    top: 40px;
  }
  .navbar-li a {
    width: 100px;
  }

  .animate__animated {
    font-size: 60px;
  }
  .button {
    position: absolute;
    top: 640px;
  }
  .cv-me-btn {
    position: absolute;
    left: 30px;
  }
  .hire-me-btn {
    position: absolute;
    left: 190px;
  }
  .button {
    width: 80px;
    top: 700px;
    text-align: center;
  }
  .my-image {
    right: 0;
    height: 350px;
    top: 200px;
    width: 300px;
  }
  .personal-information-div {
    font-size: 18px;
    top: 400px;
    left: 10px;
  }
  .personal-information-div p {
    font-size: 18px;
  }
  .about-me-p-about {
    left: 10px;
    font-size: 18px;
    width: 62%;
    top: 200px;
  }
  .animate__animated {
    font-size: 36px;
    left: 10px;
  }
  .abilities{
    left: 10px;
    top: 560px;

  }
  .frontend-tech{
    left: 10px;
    width: 45%;
  }
  .backend-tech{
    right: 10px;
    width: 45%;
  }
  .frontend-tech-h5,
  .backend-tech-h5{
    font-size: 20px;
  }
  .certification-sector{
    left: 10px;
    height: 120;
  }
  .certificates-heading{
    left: 10px;
    /* font-size: 26px; */
  }
}
/* ===========Media Querry for mobile phones======== */
@media (max-width: 767px) {
  .Heading {
    font-size: 20px;
    margin: 1rem;
    width: 40%;
    left: 0;
    /* background: red; */
  }

  .my-name {
    font-size: 30px;
    top: 70px;
    left: 10px;
  }

  .typing-effect {
    font-size: 20px;
    top: 140px;
    left: 10px;
  }

  .about-me-p,
  .about-me-p-about {
    font-size: 18px;
    top: 180px;
    left: 10px;
    width: 90%;
  }

  .giphy-image {
    height: 150px;
    /* width: 300px; */
    left: 20px;
    top: 460px;
  }

  .navbar {
    top: 25px;
    right: 0;
    font-size: 10px;
    width: 40%;
    /* background: red; */
  }
  .navbar-li a {
    /* background: red; */
    width: 43px;
    margin-left: 5px;
  }
  .animate__animated {
    font-size: 40px;
    top: 50px;
    left: 40px;
    width: 70%;
  }
}
