@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Heading {
  color: #ffa500;
  text-align: left;
  position: absolute;
  top: 9px;
  left: 0;
  margin: 2rem;
  font-family: "poppins";
  font-weight: 300;
  font-size: 50px;
  cursor: pointer;
  justify-content: center;
}
.Heading span {
  font-family: "Clicker Script";
  font-size: 60px;
  font-weight: 900;
  color: #ffa500;
}
.Heading em {
  color: #ffa500;
}
.Heading b {
  color: #ffa500;
}
/* .Heading::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 70px;
  left: -20px;
  top: -20px;
  border-top: 5px solid rgb(31, 202, 221);
  border-left: 5px solid #ffa500;
  border-radius: 7px;
}
.Heading::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  right: -2vh;
  bottom: -15px;
  border-bottom: 5px solid rgb(31, 202, 221);
  border-right: 5px solid #ffa500;
  border-radius: 7px;
} */

.my-name {
  top: 100px;
  left: 90px;
  position: absolute;
  font-size: 55px;
  font-family: "poppins";
  font-weight: 200;
  text-decoration: none;
}
.my-name em {
  font-family: "Clicker Script";
  font-size: 60px;
  font-weight: 900;
}
.my-name b {
  font-weight: 300;
  color: #ffa500;
}
.typing-effect {
  position: absolute;
  top: 200px;
  left: 90px;
  font-size: 38px;
  font-family: "poppins";
}
.typing {
  color: #ffa500;
}
.about-me-p {
  position: absolute;
  top: 300px;
  left: 90px;
  width: 50%;
  text-align: left;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 100;
  height: 200px;
}

.cv-me-btn {
  position: absolute;
  left: 90px;
  top: 550px;
  border: 1px solid rgb(31, 202, 221);
  border-radius: 7px;
  padding-left: 20px;
}
.hire-me-btn {
  position: absolute;
  left: 270px;
  top: 550px;
}

.button {
  width: 150px;
  height: 50px;
  background: transparent;
  border: 1px solid;
  border-image: linear-gradient(to right, rgb(31, 202, 221), #ffa500);
  border-image-slice: 1;
}

.button:hover {
  color: #ffa500;
  background: transparent;
  border: 2px solid #ffa500;
}
.giphy-image {
  position: absolute;
  right: 150px;
  top: 270px;
  height: 300px;
  width: 400px;
  max-width: 50%;
}
/* =============Navbar sylings=========== */
.navbar {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  width: 80%;
  font-size: 28px;
  text-align: right;
  justify-content: flex-end;
  background: transparent;
}
.navbar-li {
  list-style: none;
  text-decoration: none;
  margin: 5px;
  display: flex;
}
.navbar-li a {
  color: #ffa500;
  text-decoration: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 3px;
  /* background: red; */
}
.navbar-li a:hover {
  transition: 0.4s ease all;
  border-bottom: 2px solid rgb(31, 202, 221);
  border-radius: 12px;
  color: rgb(31, 202, 221);
}
